<h1>File Uploaded</h1>

 <%= stylesheet_link_tag 'scaffold' %>
 <p> . </p>
 <body>   
   
 	<p> "<><><><><><><>  Absract File Has Been Uploaded Successfully !   <><><><><><><>" </p>
    
   

	<%= link_to 'Back', '../home' %>
	
	
 </body>