


<body><p style= "margin-top: 100px" >
<p><center>......................................................................................</p> 
<h1> <p style="color: Maroon"> CEBB 2009 Retreat Registration </h1>
<h2>____________________________</h2>
<p> .</p> 
<h3> <p style="color: blue">Hello, Everyone Welcome !!! </h3> 

<%= link_to "Sign-up Here", new_registration_path %>

<p> </p> 
<%= link_to "Rigistration List", registrations_path %>
<p> </p>
<h2>____________________________</h2>
<!--<p>Find me in app/views/home/index.html.erb</p>-->

</body>